@import "../../colors";

.container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1;

  .separator {
    align-self: stretch;
    border-left: 2px solid $secondary;
  }

  .column {
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
  }
}
